
<div>
  <h1>Candidate Elimination</h1>

  <h3>Observe an example:</h3>

  <form class="form-horizontal">
    <div class="form-group">
      <label class="col-sm-2 control-label">x-coordinate</label>
      <div class="col-sm-2">
        <input class="form-control" type="text" placeholder="e.g. 10">
      </div>

      <label class="col-sm-2 control-label">y-coordinate</label>
      <div class="col-sm-2">
        <input class="form-control" type="text" placeholder="e.g. 10">
      </div>

      <div class="col-sm-3">
        <div class="checkbox">
          <label>
            <input type="checkbox"> Is positive?
          </label>
        </div>
      </div>

      <div class="col-sm-1">
        <button class="btn btn-primary">Observe</button>
      </div>
    </div>
  </form>

</div>
