
<div>
  <h1>Candidate Elimination</h1>

  <blockquote>
    A simple learning algorithm. In this demo I illustrate the process of
    attempting to learn a rectangle with integer coordinates and sides parallel
    to the axes. <br>
    <br>
    Our hypotheses are rectangles of the same form. We'll denote the hypothesis
    corresponding to the rectangle with lower-left coordinates
    <code>(a,b)</code> and upper-right coordinates <code>(c,d)</code> as
    <code>R<sub>a,b,c,d</sub></code>. <br>
    <br>
    An example may be any point with integer coordinates between <code>0</code>
    and <code>10</code>. Positive examples are those belonging the concept, i.e.
    they are in the rectangle we're trying to learn. <br>
    <br>
    In the chart below:
    <ul>
      <li>Filled circles denote positive examples.</li>
      <li>Hollow circles denote negative examples.</li>
      <li>Hypotheses in the general boundary are shown as yellow rectangles.</li>
      <li>Hypotheses in the specific boundary are shown as blue rectangles.</li>
    </ul>
  </blockquote>

  <h3>Observe an example:</h3>

  <div class="row">
  
    <!-- form -->
    <div class="col-sm-6">
      <form class="form-horizontal">
        <div class="form-group">
          <label class="col-sm-4 control-label">x-coordinate</label>
          <div class="col-sm-8">
            <input id="first-input"
                class="form-control" type="text" tabindex="1"
                ng-model="main.example.x" placeholder="e.g. 10">
          </div>
        </div>

        <div class="form-group">
          <label class="col-sm-4 control-label">y-coordinate</label>
          <div class="col-sm-8">
            <input class="form-control" type="text" tabindex="2"
                ng-model="main.example.y" placeholder="e.g. 10">
          </div>
        </div>

        <div class="form-group">
          <div class="col-sm-offset-4 col-sm-8">
            <div class="checkbox">
              <label>
                <input type="checkbox" tabindex="3"
                    ng-model="main.example.isPositive"> Is positive?
              </label>
            </div>
          </div>
        </div>

        <div class="form-group">
          <div class="col-sm-offset-4 col-sm-8">
            <button class="btn btn-primary" tabindex="4"
                ng-class="{'disabled': !main.exampleIsValid()}"
                ng-click="main.observeAndReset()"
                onclick="document.getElementById('first-input').focus()">
              Observe
            </button>
          </div>
        </div>
      </form>
    </div><!-- /form -->

    <!-- Chart -->
    <div class="col-sm-6">
      <div ce-example-space
        examples="main.observedExamples"
        general-hypotheses="main.getGeneralHypotheses()"
        specific-Hypotheses="main.getSpecificHypotheses()">
      </div>
    </div>

  </div>


  <!--
    @todo boundary list directive!
  -->

  <div class="row">
    <div class="col-xs-6">
      <h4>Hypotheses (Gen. Bndry)</h4>
      <ul>
        <li ng-repeat="h in main.getGeneralHypotheses()">
          R<sub>{{h.lowerLeftX}},{{h.lowerLeftY}},{{h.topRightX}},{{h.topRightY}}</sub>
        </li>
        <li ng-if="!main.getGeneralHypotheses().length">
          <span class="text-muted">None</span>
        </li>
      </ul>
    </div>

    <div class="col-xs-6">
      <h4>Hypotheses (Spec. Bndry)</h4>
      <ul>
        <li ng-repeat="h in main.getSpecificHypotheses()">
          <span ng-if="h.lowerLeftX > h.topRightX" class="text-muted">
            &empty;
          </span>
          <span ng-if="h.lowerLeftX <= h.topRightX">
            R<sub>{{h.lowerLeftX}},{{h.lowerLeftY}},{{h.topRightX}},{{h.topRightY}}</sub>
          </span>
        </li>
        <li ng-if="!main.getSpecificHypotheses().length">
          <span class="text-muted">None</span>
        </li>
      </ul>
    </div>
  </div>

  <div>
    <h4>Observed Examples</h4>
    <ul>
      <li ng-repeat="ex in main.observedExamples">
        ({{ex.x}}, {{ex.y}}, {{ex.isPositive ? 'positive' : 'negative'}})
      </li>
      <li ng-if="!main.observedExamples.length">
        <span class="text-muted">None</span>
      </li>
    </ul>
  </div>

  <div>
    <hr>
    <ul class="footer-links">
      <li>
        <a href="https://raw.githubusercontent.com/jtrussell/candidate-elimination/master/LICENSE-MIT">Code licensed under The MIT License</a>
      </li>
      <li ce-permalink examples="main.observedExamples">
        Permalink
      </li>
    </ul>
  </div>
</div>
